@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
	font-family: 'Montserrat';
	font-size: 16px;
	background-color: #202020;
	color: WhiteSmoke;
}
h1 {
	border-bottom: 2px solid #c0c0c0;
	margin-bottom: 12px;
	padding-bottom: 6px;
	white-space: nowrap;
}
h2 {
	border-bottom: 1px solid #c0c0c0;
	margin-bottom: 8px;
	padding-bottom: 4px;
	white-space: nowrap;
}
a:link {
	color: DodgerBlue;
	font-weight: bold;
}
a:visited {
	color: DodgerBlue;
	font-weight: bold;
}
a:hover {
	color: DeepSkyBlue;
	font-weight: bold;
}
a:active {
	color: WhiteSmoke;
	font-weight: bold;
}
.Red {
	color: DarkRed;
	font-weight: bold;
}
.Green {
	color: Green;
	font-weight: bold;
}